*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: rgb(14, 13, 27) url('img/back.jpg') fixed;
    background-attachment: fixed;
    background-position: center center;               
    background-size: cover;  
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1180px;
    margin: 90px auto;
    padding: 0px 15px;
    flex: 1 0 auto;
}

@media(max-width: 1180px){
    .three-block-items{
        display: flex;
        max-width: 980px;
        margin: 0px auto;
        gap: 72px;
    }
}
@media(max-width: 992px){
    .three-block-items{
        flex-direction: column;
    }
}
@media(max-width: 767px){
    .three-block-items{
        flex-direction: column;
    }
    
}
@media(max-width: 530px){
    .three-block-items{
        flex-direction: column;
    }
    .item-three-block {
        background: #fff;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 17px;
        width: 250px;
        margin: 0px auto;
    }
    .wrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 500px;
    }
    .text-footer {
        font-size: 22px;
        padding-top: 20px;
        color: #fff;
    }
    .container {
        margin: 0px auto;
        flex: 1 0 auto;
    }
}

.three-block {
    margin: 80px 0px 30px 0px;
}
.three-block_container {
}
.three-block_title {
    text-align: center;
}
.block-title {
    color: #fff;
    font-size: 50px;
}
.block-text {
    font-size: 25px;
    max-width: 600px;
    margin: 5px auto;
    color: #fff;
}

.block-text_padding{
    margin: 0px 0px 85px 0px;
}

.span-title{
    color: rgb(174, 0, 255);
}

.three-block-items{
    display: flex;
    max-width: 980px;
    margin: 0px auto;
    gap: 72px;
}

.three-block-item {
    flex: 0 1 33.3333%;
}

.item-three-block {
    background: #fff;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 17px;
}

.item-three-block_icon {
    margin: 0px 0px 14px 0px;
    max-width: 150px;
    max-width: 150px;
}
.item-three-block_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    color: #000;
    margin: 0px 0px 4px 0px;
}
.item-three-block_text {
    line-height: 138.5%;
}

.footer {
    background: rgb(41, 41, 41);
    height: 55px;
    flex: 0 0 auto;
}
.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_items {
}
.text-footer {
    padding-top: 20px;
    color: #fff;
}
